@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;800&display=swap');

html, body, #app, #app> div {
    height: 100%;
    transition: .3s all;
    background-color: #f1f1f3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-style {
    border: none;
    border-bottom: 1px solid #d0d1cc;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
}

.main-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s;
}

.center-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

.board-cards {
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

.tab-cards {
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.input-style:focus {
    border-bottom: 1px solid black;
}

.input-style::-webkit-input-placeholder { 
    color: #acacac;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #202020;
    opacity: 0;
    border-radius: 25px;
}

.v-center {
    margin: 0; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.v-relative-center {
    margin: 0; 
    position: relative; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.center-image {
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.font-karla-extra-small {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 15.5px;
    line-height: 19px;
}

.font-karla-small {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
}

.font-karla {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.font-karla-normal {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.font-karla-heavy {
    font-family: 'Karla';
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
}

.vl {
    border-left: 2px solid #202020;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    border-radius: 25%;
    opacity: .1;
}

a {
    color: #202020;
}

a:hover {
    color: #202020;
    transition: .4s;
}

.bg-dark {
    background-color: #202020 !important;
}

.nav-pills .nav-link.active {
    background-color: #202020;
    transition: .5s;
}
.border-rounded {
    border-radius: 5px;
    border: 1px solid #0000002d;
}

.border-rounded-top {
    border-radius: 50px 50px 0px 0px;
}

.border-rounded-top-left {
    border-radius: 50px 0px 0px 0px;
    background-color: #fff;
}

.border-less-rounded-top-left {
    border-radius: 15px 0px 0px 0px;
    background-color: #f3f5f8;
}

.border-rounded-bottom {
    border-radius: 0px 0px 50px 50px;
}

.border-rounded-all {
    border-radius: 50px 50px 50px 50px;
}

.border-dark {
    border: 1px solid #000;
}

.checkbox-design {
    width: 100%;
    height: 40px;
}

.tab-col {
    background-color: #fff;
    border-radius: 50px;
}

.bg-light {
    background-color: #fcfdff !important;
}

@media screen and (max-width: 990px) { 
    .font-karla {
        font-size: 18px;
        line-height: 22px;
    }

    .font-karla-heavy {
        font-size: 30px;
        line-height: 34px;
    }

    .font-karla-normal {
        font-size: 18px;
        line-height: 24px;
    }

    .tab-col {

    }
}